.container {
    width: 1280px;
    margin: auto;
    margin-top: 63px;
    font-family: "Roboto";
}

.size-title {
    font-size: 80px;
    color: #000;
    text-decoration: none;
}

.color-title {
    color: #4bcaff;
}

.header-titles {
    background: #35444f;
    height: 72px;
    margin-top: 38px;
    margin-bottom: 48px;
    display:flex;
    justify-content: center;
}

.header-title:hover {
    background: #222f3a;
}

.header-title {
    border-left: 1px solid #fff;
    list-style-position: outside;
    padding: 26px 38px 19px;
}

.header-title:last-child {
    border-right: 1px solid #fff;
}

.item-title {
    font-size: 24px;
    color:#fff;
    text-decoration: none;
}

.content-container {
   display: flex;
   justify-content: space-between;
}

.navigation {
    width: 344px;
    height: 400px;
    border: 1px solid #000000;
}

.navigation-item {
    height: 53px;
    padding: 27px 0px 0px 44px;
}

.navigation-item:hover {
    background: #dbdbdb;
    padding-left: 80px;
}

.navigation-link {
    font-size: 27px;
    color:#485863;
    text-decoration: none;
}

.content-img {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

img {
   transition: transform 1s;
}

.content-img:hover img {
    transform: scale(1.1);
}

.text {
    width: 885px;
    font-size: 18px;
    color: #2c2c2c;
}

.text1 {
    margin-bottom: 34px;
}

.text2 {
    margin-bottom: 54px;
}

.footer-container {
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-navigation {
    display: flex;
    justify-content: flex-start;
}

.footer-item {
    margin: 20px 0px 0px 40px;
}

.footer-link {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-link:hover {
    color: #3181a6;
    padding-bottom: 13px;
    border-bottom: 1px solid;
}
.footer-copyright {
    margin: 24px 40px 0px 0px;
    font-size: 24px;
    color: #010101
}